<div class="list-groups">
    {% assign certificates = data[1] | sort: 'date' | reverse %}
    {% for content in certificates %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
<!--            {% if content.icon %}-->
<!--            <td class="list-group-category-icon">-->
<!--                <h6 class="ml-1 ml-md-4 institution" style="font-size: 0.95rem;">-->
<!--                <i class="{{ content.icon }}"></i>-->
<!--                </h6>-->
<!--            </td>-->
<!--            {% else %}-->
<!--            <td class="list-group-category-icon"></td>-->
<!--            {% endif %}-->
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus:1 %}
            {% endfor %}
            <td colspan="{{ i }}" class="list-group-category">


                <h6 class="ml-1 ml-md-4 institution" style="font-size: 0.95rem;">
                <i class="fas fa-search iconinstitution"></i>
                <a href="{{ content.url | default: # }}">{{ content.name }}</a>
                </h6>

            </td>
          </tr>
          <tr>
<!--            <td></td>-->
            <td class="list-group-name">
                <h6 class="institution" >
                <i class="fas fa-location-arrow"></i>
                <b>{{ content.issuer }}</b>
                </h6>
            </td>
            <td class="list-group-name">{{ content.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>