---
layout: default
---
<!-- page.html -->
        <div class="post">

          {% if page.back_url %}
            <div class="mb-3 d-flex justify-content-end">
              <a href="{{ page.back_url | relative_url }}"
                class="btn btn-sm back-btn">
                <i class="fas fa-arrow-left"></i> Back to Projects
              </a>
            </div>
          {% endif %}

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

          {%- if site.giscus.repo and page.giscus_comments -%}
            {% include giscus.html %}
          {%- endif -%}
        </div>
